# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### IntelliJ template
.idea
*.iws
*.iml
*.ipr
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea_modules/
.idea/replstate.xml

### Eclipse template
**/target/
**/.classpath
**/.project
**/!.mvn/wrapper/maven-wrapper.jar
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.launch
local.properties
.settings/
.loadpath
.recommenders
.target
.metadata
.cproject
.buildpath
.tern-project
.texlipse

### STS (Spring Tool Suite)
.springBeans
.apt_generated
.classpath
.factorypath
.project
.settings

### NetBeans template
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### macOS template
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
.apdisk
.fuse_hidden*
.directory
.Trash-*
.nfs*
Icon
._*
Network Trash Folder
Temporary Items

### Windows template
$RECYCLE.BIN/
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump
Desktop.ini
*.cab
*.msi
*.msm
*.msp
*.lnk

# Others
out/
classes/
deploy/
javadoc/
.data/
temp/
.mtj.tmp/
*.class
cwallet.sso.lck
hs_err_pid*
*.ctxt
*.log